.keyboard {
	padding-top: 100px;
	color: #fff;
	font-size: 20px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	&__body {
		// margin: 0 auto;
		max-width: 1012px;
		width: 100%;
		border: 2px solid white;
		border-radius: 4px;
		padding: 10px;
	}

	&__line {
		display: flex;
		column-gap: 10px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	.key {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		// width: 60px;
		flex: 0 0 60px;
		border-radius: 4px;
		border: 2px solid white;
		padding: 4px;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(59, 59, 148, 0.884);
				border: 2px solid rgba(59, 59, 148, 0.884);
			}
		}

		&.active {
			background-color: rgba(59, 59, 148, 0.884);
			border: 2px solid rgba(59, 59, 148, 0.884);
		}
	}

	.backspace {
		width: 80px;
	}

	.backspace,
	.tab,
	.capsLock,
	.enter,
	.ctrl,
	.fn,
	.alt,
	.win,
	.rshift,
	.lshift {
		font-size: 14px;
	}

	.tab {
		flex: 0 0 80px;
	}

	.capsLock {
		flex: 0 0 100px;
	}

	.enter {
		flex: 0 0 110px;
	}

	.space {
		flex: 0 0 356px;
	}

	.lshift {
		flex: 0 0 120px;
	}

	.rshift {
		flex: 0 0 160px;
	}
}

.pressetLettert {
	color: grey;
}

.whong-letter {
	color: red;
}