{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"prettier",
		"eslint:recommended",
		"airbnb-base",
		"plugin:import/recommended"
	],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 13,
		"sourceType": "module"
	},
	"plugins": [],
	"rules": {
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"": "never",
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"indent": "off",
		"object-curly-newline": "off",
		"semi": "off",
		"func-names": "off",
		"max-len": "off",
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"consistent-return": "off",
		"no-use-before-define": "off", // a lot"off"errors
		"radix": "error",
		"padded-blocks": [
			"warn",
			{ "blocks": "never", "classes": "always", "switches": "never" }
		],
		"arrow-parens":"off",
		"no-confusing-arrow":"off",
		"function-paren-newline":"off",
		"operator-linebreak": "off",
		"implicit-arrow-linebreak":"off",
		"import/no-extraneous-dependencies": "off",
		"import/no-cycle": "off",
		"import/no-duplicates": "error",
		"no-prototype-builtins": "error",
		"no-restricted-syntax": "off", // need sort it out
		"camelcase": "off",
		"max-classes-per-file": ["error", { "max": 2 }],
		"no-shadow": "off", // a lot of errors
		"new-cap": "off",
		"no-lonely-if": "error",
		"no-useless-escape": "error",
		"no-return-await": "error",
		"no-nested-ternary": "off", // a ? xxx : bbb ? ccc : ddd
		"no-unused-expressions": "error",
		"no-bitwise": "off",
		"computed-property-spacing": "off",
		"guard-for-in": "error",
		"no-unused-vars": "off",
		"no-throw-literal": "off",
		"no-trailing-spaces": "off",
		"no-useless-return": "off",
		"no-mixed-spaces-and-tabs":"off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-fallthrough": "error",
		"operator-assignment": "off",
		"no-console": "off",
		"no-alert": "off", // we use window.prompt
		"no-constant-condition": "off",
		"no-unreachable": "off",
		"no-multi-assign": "error",
		"no-tabs": "off",
		"array-callback-return": "off",
		"no-debugger": "warn",
		"default-case": "error",
		"import/named": "off",
		"no-undef": "off",
		"no-underscore-dangle": "off",
		"prefer-promise-reject-errors": "off",
		"prefer-destructuring": "off",
		"prefer-rest-params": "off",
		"prefer-const": "off",
		"import/prefer-default-export": "off",
		"import/order": "off",
		"import/namespace": "off",
		"import/no-unresolved": "off",
		"class-methods-use-this": "error",
		"no-param-reassign": ["off", { "props": false }],
		"linebreak-style": ["off", "windows"],
		"no-return-assign":"off"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"],
				"extensions": [".js", ".json"]
			}
		}
	}
}
