@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
@import "common/variables.scss";

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
@import "common/common.scss";

body {
	background: $background;

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	// .loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.page {
	>main {
		flex: 1 1 auto;
	}
}

[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}

	@if ($containerPadding>0) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
}

//========================================================================================================================================================